@model Cotacao.Controllers.Cotacao

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Cotacao</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Mercado.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mercado.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UsuarioCadastro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UsuarioCadastro)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
