@model IEnumerable<Cotacao.Controllers.Item>

@{
    /**/

    ViewBag.Title = "Details";
}


<div class="container">
    <div class="row jumbotron">
        <h2>Cotação @ViewBag.Mercado de @ViewBag.Data por @ViewBag.UsuarioCadastro</h2>
    </div>
    <div class="row">
        @Html.Partial("_CadastroProduto")
    </div>
    <br />
    <div class="panel panel-primary" id="divTblItens">
        <div class="panel-heading">Produtos</div>
        <div class="panel-body" id="divItens">
            <table class="table table-striped" id="tblItens">
                <thead>
                    <tr>
                        <th>Produto</th>
                        <th>Embalagem</th>
                        <th>Valor</th>
                        <th>...</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <a class="btn btn-primary" href="/Mercados/Details/@ViewBag.MercadoId">Voltar</a>
    </div>
</div>

@section Scripts {
<script>
    function deletaLinha(id) {
        var parametros = {'id': id};
        $.ajax({
            url: "@Url.Action("Delete", "Itens")",
            data: (parametros),
            dataType: "json",
            type: "GET",
            cache: false,
            async: false,
            success: function (data) {
                $("#" + id).remove();
            }, error: function (err) {
                console.log(err);
            }
        });
        exibeOcultaTabela();
    }

    function exibeOcultaTabela() {
        if ($("#tblItens tbody tr").length > 0) {
            $("#divTblItens").show();
        } else {
            $("#divTblItens").hide();
        };
    }

    function carregaItens() {
        // limpa os registros da tblItens
        $("#tblItens tbody").empty();

        //Busca os itens no controller e adiciona na tblItens
        $.ajax({
            dataType: "json",
            type: "GET",
            url: "/itens/GetItens",
            data: "idCotacao=" + $("#CotacaoId").val(),
            async: false,
            success: function (dados) {

                $(dados).each(function (i) {
                    $("#tblItens tbody").append("<tr id='" + dados[i].Id + "'></tr>");
                    $("#" + dados[i].Id).append("<td>"+dados[i].Nome+"</td>");
                    $("#" + dados[i].Id).append("<td>" + dados[i].QtdEmbalagem+"</td>");
                    $("#" + dados[i].Id).append("<td>" + dados[i].ValorTotal+"</td>");
                    $("#" + dados[i].Id).append("<td><button type='button' class='btn btn-danger' onclick='deletaLinha(" + dados[i].Id + ")'>X</button></td>");
                });
            }, error: function (err) {
                console.log(err);
            }
        });
        exibeOcultaTabela();
    }

    $(function () {
        carregaItens();
        $(".qtdEmbalagem").mask("999999999");
        $(".vlrTotal").mask("9999,99");

        //Cadastra Produto
        $("#btnCadastrar").click(function () {
            if (($("#Nome").val() == "") || ($("#QtdEmbalagem").val() == "") || ($("#ValorTotal").val() == "")) {
                alert("Preencha todas as informações!")
            } else {
                dados = $("#formCadastro").serialize();

                $.ajax({
                    url: "/Itens/addItem",
                    async: false,
                    data: dados,
                    method: 'POST',
                    success: function (retorno) {
                        carregaItens();
                        $("#Nome").val("");
                        $("#QtdEmbalagem").val("");
                        $("#ValorTotal").val("");
                        exibeOcultaTabela();
                    },
                    error: function (err) {
                        console.log(err);
                    }

                });
            }
        });
    })
</script>
}